<style>
.Table2 {}
.Table2 td {
	color: maroon;
	background-color: ghostwhite;
	border-color: black;
	border-style: solid;
	padding:0px;
	text-align: center;
	border-radius: 10px;
	font-size:28px;
	width:50%;
}
.Table2 td button {
	color: maroon;
	background-color: ghostwhite;
	border-color: black;
	border-style: solid;
	padding:8px;
	text-align: center;
	border-radius: 10px;
	font-size:24px;
	width:100%;
}
.Table2 th {
	font-size:32px;
	padding: 10px;
	border-bottom: 2px solid black;
	background-color: slategray;
}
.Table2 {
	table-layout: auto;
	width:40%;
	border-radius: 5px;
	text-align: center;
	margin-right:5%;
	margin-left:5%;
	border-color: black;
	border-style: solid;
	background-color: lightslategray;
	float: left;
}
.Table2 tr:nth-child(5) td button {
	background-color: red;
	margin-left: 25%;
	margin-right: auto;
	width: 150%;
}
.Table2 tr:nth-child(5) td {
	background-color: inherit;
	border: none;
}
.Table2 tr:nth-child(4) td {
	padding:1.5%;
	font-size: 40px;
	padding-left: 22%;
	text-align: left;
}
.CIA tr:nth-child(4) td{
	padding: 0%;
}
.CIA tr:nth-child(5) td{
	background-color: ghostwhite;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	width:50%;
}
.CIA tr:nth-child(5) td button{
	color: maroon;
	background-color: ghostwhite;
	border-color: black;
	border-style: solid;
	padding:8px;
	margin: inherit;
	text-align: center;
	border-radius: 10px;
	font-size:24px;
	width:100%;
}
#john {
	position:absolute;
	margin-left:10%;
}
.Result {
	clear: both;
	margin-left: 5%;
	margin-top: 3%;
	float: left;
	table-layout: fixed;
	width:70%;
	height: 20%;
}
.Result td {
	width: 12%;
	min-width: 12%;
	max-width: 12%;
	overflow:hidden;
	vertical-align:top;
}
#hopetable {
	width: 12%;
	margin-left:1%;
	margin-right:1%;
	display: inline-block;
	padding-top: 10%;
	float: left;
	border-style: solid;
	border-width: 3px;
	border-color: darkred;
	font-size: 26px;
	text-align: center;
	border-radius:6px;
	
}
#hopetable td {
	border-radius:3px;
	background-image: linear-gradient(to bottom right, white, lightgrey, whitesmoke, silver 70%, whitesmoke, black);
	opacity: 85%;
}
#hopetable tr:nth-child(-n+1):nth-child(n+1) td{ /*left-highest right-lowest*/
	border-style: double;
	width:4%;
	border-color:gray;
	background-image: linear-gradient(to bottom right, lemonchiffon, lightpink);
	box-shadow: 0 0 3px lightyellow, 0 0 2px yellow;
}
#hopetable tr:nth-child(2) td{
	background-image: linear-gradient(to bottom right, white 30%, plum, black);
	border-color: black;
	border-style: double;
	border-radius:15px;
	pointer-events: none;
}
#hope {
	padding-bottom:0;
}
#hope input {
	background-color: inherit;
	width: 80%;
	height: 100%;
	margin-top:4px;
	margin-bottom:-22px;
	align-items: center;
	text-align: center;
	font-size:28px;
	border:none;
}
#hopetable button {
	color:lightgrey;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border: 1px solid;
	border-radius:3px;
	border-color: black;
	font-weight: bold;
	width:100%;
	background-color:transparent;
}
#hopetable button:hover {
	box-shadow: 0 1px 10px 0 white, 0 1px 10px 0 white;
}
#hopetable button:active {
  transform: scaleY(1.01);
  transform: scaleX(1.02);
  box-shadow: 0 1px 10px 0 white, 0 1px 15px 0 white;
}
.TableVG {
	background-color: sandybrown;
}
.TableVG th {
	background-image: linear-gradient(178deg, orange 20%, bisque 99%);
}
.TableG {
	background-color: crimson;
}
.TableG th {
	background-image: linear-gradient(178deg, red 20%, bisque 99%);
}
.TableD {
	background-color: lightskyblue;
}
.TableD th {
	background-image: linear-gradient(178deg, skyblue 20%, blue 99%);
}
.TableM {
	background: linear-gradient(180deg, black 21%, snow 22%);
}
.TableM th {
	background-image: linear-gradient(180deg, lightgrey 2%, whitesmoke 20%, white 99%);
}
.TableSN {
	background-color: Gold;
}
.TableSN th {
	background-image: linear-gradient(178deg, yellow 20%, lightgoldenrodyellow 99%);
}
.TableC {
	background-color: Antiquewhite;
}
.TableC th {
	background-image: linear-gradient(178deg, lightgoldenrodyellow 20%, sandybrown 99%);
}
.TableSU {
	background-color: lawngreen;
}
.TableSU th {
	background-image: linear-gradient(178deg, yellow 20%, lightgreen 99%);
}
.TableSP {
	background-color: Plum;
}
.TableSP th {
	background-image: linear-gradient(178deg, lavender 20%, mediumorchid 99%);
}
.TableA {
	background-color: cyan;
}
.TableA th {
	background-image: linear-gradient(178deg, lavender 20%, mediumorchid 99%);
}
.LockButton {
	background-color: lightgrey !important;
}
.LockButtonRESET {
	background-color: lightgrey !important;
	color: lightgrey !important;
}
.Vanguard {
	background-image: url("Vanguard.png") !important;
	background-position: left !important;
	background-size: 100px !important;
	background-repeat: no-repeat !important;
}
.Guard {
	background-image: url("Guard.png") !important;
	background-position: left !important;
	background-size: 100px !important;
	background-repeat: no-repeat !important;
}
/* The below are background changes for the array
By assigning the consistent styling to the ID instead of class, you minimise duplication*/
.Hope0 {
	background-image: linear-gradient(to bottom, 
		black 15%,darkred 39%, brown 42%, black 50%);
}
.Hope1 {
	background-image: linear-gradient(to bottom, 
		black 15%, #191946 29%, firebrick 39%, darkred 42%, maroon 45%, black 60%);
}
.Hope2 {
	background-image: linear-gradient(to bottom, 
		midnightblue 13%, steelblue 29%, skyblue 31%, white 31.5%, lightyellow 32%, yellow 33%, gold 33.5%, goldenrod 35%, peru 36%, darkred 38%, brown 47%, black 65%);
}
.Hope3 {
	background-image: linear-gradient(to bottom, 
		steelblue 5%, skyblue 20%, white 25%, lightyellow 30%, yellow 32%, gold 34%, goldenrod 36%, darkgoldenrod 40%, indianred 44%, brown 56%, black 60%);
}
.Hope4 {
	background-image: linear-gradient(to bottom, 
		steelblue 1%, skyblue 5%, white 25%, lightyellow 30%, yellow 40%, gold 44%, goldenrod 47%, indianred 49%, brown 64%, black 70%);
}
.Hope5 {
	background-image: linear-gradient(to bottom, 
		skyblue 7%, white 35%, lightyellow 42%, yellow 47%,gold 50%, goldenrod 54%, lightpink 60%, brown 74%, black 86%);
}
.Hope6 {
	background-image: linear-gradient(to bottom, 
		skyblue 5%, white 33%, lightyellow 52%, yellow 56%, goldenrod 60%, lightpink 73%, brown 90%, black 92%);
}
.Hope7 {
	background-image: linear-gradient(to bottom,
		skyblue 2%, white 24%, white 43%, lightyellow 56%, yellow 60%, goldenrod 62%, lightpink 76%, brown 95%);
}
.Hope8 {
	background-image: linear-gradient(to bottom,
		lightskyblue 1%, white 20%, white 43%, lightyellow 63%, lightpink 82%, brown 99%);
}
.Hope9 {
	background-image: linear-gradient(to bottom,
		lightskyblue 1%, white 15%, white 53%, lightyellow 73%, lightpink 92%, pink 99%, brown 99.5%);
}
</style>